@import '@fontsource-variable/inter';

:root {
	--font-body: 'Inter Variable', sans-serif;
	--black: #1e1e31;
	--blue: #0053fa;
	--red: #E51943;
	--light-gray: #f4f4f5;

	--color-bg: #f4f4f5;
	--color-text: rgb(31 41 55 / 1);

	--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

	--cubic-bezier: cubic-bezier(0.7, 0, 0.3, 1);

	font-family: var(--font-body);
	color: var(--color-text);
}

body{
	height: 100vh;
	margin: 0;
	background-color: var(--color-bg);
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	font-family: var(--font-body);
	color: var(--color-text);
	font-kerning: normal;
	font-feature-settings: "kern" 1, "liga" 1, "ss01" 1, "calt" 1;
	letter-spacing: -.014em;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
input, button, textarea, :focus {
	outline: none !important;
}
a:not([draggable=true]), img:not([draggable=true]) {
	-webkit-user-drag: none;
	user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"],
a[href^="file://"] {
	-webkit-user-drag: auto;
	user-drag: auto;
}

a{
	text-decoration: none;
	color: var(--blue);
	transition: color 400ms var(--cubic-bezier);

	&:hover, &:focus {
		text-decoration: underline;
		transition: all 150ms var(--cubic-bezier);
	}
}


.spinner {
	position: relative;
	animation: rotator 1.4s linear infinite;
}

.spinner .path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite;
}

@keyframes rotator {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes dash {
	0% { stroke-dashoffset: 187; }
	50% {
		stroke-dashoffset: 45;
		transform:rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform:rotate(450deg);
	}
}

@keyframes sneaky-link-animation {
	0% { color: var(--black); }
	85% { color: var(--black); }
	89% { color: var(--blue); }
	93% { color: var(--black); }
	96% { color: var(--blue); }
	100% { color: var(--blue); }
}
